<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="display: flex; justify-content: center; margin-top: 10%">
    <form action="/api/v1/signup" method="POST" enctype="multipart/form-data">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" />
      <br />
      <br />

      <label for="email">Email</label>
      <input type="text" name="email" id="email" />

      <br />
      <br />

      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
      <br />
      <br />

      <label for="photo">Photo</label>
      <input type="file" name="photo" id="photo" />
      <br />
      <br />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
